body{ 
	
font-family: 'Lato', sans-serif;

}
/* Navigation*/ 

a{
	font-size: 2em;
 	color:#0E147F; 
	text-decoration: none;
}
ul li{
	list-style-type: none;
}

img{
	width:300px;
}

p{
	width:50%;
}

a:visited, a:hover{
	color:white;
	background: #0E147F;
}
/*containter*/ 


