body{
	background:url("../img/resumebg.png");
	font-family: 'Prata', serif;
}


}
div{
	list-style-type:none;
	
}


h1{	
text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

li{
	list-style-type: none;
	
}

p{
	text-align: center;
	font-weight: bold;
}

.grid_12{
	text-align: center;
}

.grid_12 ul li{ 
text-align: center;
}