body{ 
	background: #308
	;
font-family: helvetica;

}
/* Navigation*/ 

a{font-size: 2em;
 color:white; 
text-decoration: none;}
img{width:300px;}
/*containter*/ 

#leftcol{ background : #301;
width: 400px;}
#rightcol{background : #300;
width: 400px ;}
.round{ border-right : 2;}
.shadow{ box-shadow :10px 10px 10px black ;}
